.form {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	gap: 0.5rem;
}

.label {
	display: flex;
	flex-direction: column;

	color: var(--white);

	font-size: 0.8rem;
	font-weight: 500;
}

.isError {
	color: var(--red);
}

.inp {
	width: 10rem;
	height: 1.5rem;

	text-indent: 0.5rem;

	border: 2px solid var(--white);
	border-radius: 4px;
	outline: none;

	font-size: 1rem;
	font-weight: 500;
}

.inp:focus {
	border: 2px solid var(--red);
}

.ul {
	list-style: none;

	font-weight: 500;
	margin-block: 1rem;
}

.ul li label {
	display: flex;
	align-items: center;

	cursor: pointer;

	color: var(--white);

	gap: 1rem;
}

.ul li label:hover {
	color: var(--red);
}

.ul input {
	width: 1rem;
	height: 1rem;

	cursor: pointer;

	accent-color: var(--bg);
}

.dis {
	pointer-events: none;

	opacity: 0.5;
}
