.block {
	display: flex;
	gap: 1rem;
	align-items: center;
	font-size: 1rem;
}

.item {
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;

	/* width: 2rem; */
	padding: 0.2rem;

	color: var(--grey-200);

	background: transparent;
	border: none;
	border-radius: 0.2rem;
	outline: none;
}
