.block {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	min-width: 50rem;
	padding: 0.5rem;

	font-size: 0.9rem;

	background: var(--grey-100);
	border: 1px solid var(--grey-400);
	border-radius: var(--rad-10);
}

.title {
	align-self: start;
	min-width: 15rem;
	font-weight: 600;
	text-indent: 0.5rem;
}

.name {
	font-size: 1.2rem;
	font-weight: 500;
	line-height: 1;
	color: var(--red);
}

.item {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.item hr {
	align-self: stretch;
}

.graw {
	flex-grow: 1;
}

.but {
	cursor: pointer;
	background: none;
	border: none;
}

.but:hover svg,
.but:focus svg {
	fill: var(--red);
}

.but svg {
	/* pointer-events: none; */
	width: 1.5rem;
	height: 1.5rem;
	fill: var(--grey-400);
}

.files {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
