.block {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	padding: 1rem;

	border: 1px solid var(--grey-400);
	border-radius: var(--rad-10);
}

.name {
	min-width: 10rem;

	font-size: 1.2rem;
	font-weight: 500;
	color: var(--red);
	text-align: center;
}

.description {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.description hr {
	align-self: stretch;
}

.graw {
	flex-grow: 1;
}

.but {
	cursor: pointer;
	background: none;
	border: none;
}

.but:hover svg,
.but:focus svg {
	fill: var(--red);
}

.but svg {
	/* pointer-events: none; */
	width: 1.5rem;
	height: 1.5rem;
	fill: var(--grey-400);
}
