.block,
.tr,
.th,
.td {
	border-collapse: collapse;
	border: 1px solid var(--grey-600);
}

.body .tr:hover {
	background: var(--grey-200);
}

.th {
	cursor: pointer;
	padding: 0.1rem;
}

.td {
	cursor: pointer;
	padding: 0.1rem;
	font-size: 0.9rem;
}

.td:hover {
	color: var(--grey-100);
	background: var(--grey-600);
}
