.block {
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;

	padding: 0.5rem 1rem;

	font-size: 0.75rem;
	font-weight: 500;
	color: var(--white);
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;

	background: var(--red);
	border: 2px solid var(--red);
	border-radius: 0.5rem;
}

.block svg {
	height: 0.6rem;
}

.disabled {
	pointer-events: none;
	cursor: auto;
	opacity: 0.6;
}

@media (hover: hover) {
	.block,
	.block svg {
		transition: var(--transition);
	}

	.block:hover {
		color: var(--text);
		background: var(--white);
	}

	.block:hover svg {
		fill: var(--text-gray);
	}
}

@media (hover: none) {
	.block,
	.block svg {
		transition: none;
	}

	.block:active {
		color: var(--text);
		background: var(--white);
	}

	.block:active svg {
		fill: var(--text-gray);
	}
}
