.block {
	display: flex;
	gap: 1rem;

	padding: 0.5rem;

	background: var(--white);
	border: 1px solid var(--grey-400);
	border-radius: var(--rad-10);
}

.block:hover {
	background: var(--grey-200);
}

.name {
	overflow-x: hidden;
	width: 14.5rem;
	text-overflow: ellipsis;
	text-wrap: nowrap;
}

.graw {
	flex-grow: 1;
}

.but {
	cursor: pointer;
	background: none;
	border: none;
}

.but:hover svg,
.but:focus svg {
	fill: var(--red);
}

.but svg {
	/* pointer-events: none; */
	width: 1rem;
	height: 1rem;
	fill: var(--grey-400);
}
